<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="title">Competition</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              In 2027, Swingvasion will be running the following competition
              divisions:
            </p>

            <ul style="font-size: 18px">
              <li>WSDC Newcomer Jack & Jill</li>
              <li>WSDC Novice Jack & Jill</li>
              <li>WSDC Intermediate Jack & Jill</li>
              <li>WSDC Advanced Jack & Jill</li>
              <li>Lucky Steals</li>
            </ul>
          </div>
        </div>
      </div>

      <h1 class="title">Competition Rules</h1>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="p-0 mt-4">
            <p>
              Our event is run in accordance with the rules set by the WSDC. For
              full details, please refer to the official rules:
              <a href="https://worldsdc.com/rules/" target="_blank"
                >https://worldsdc.com/rules/</a
              >
            </p>

            <div style="display: flex; justify-content: center">
              <hr class="centered-hr" />
            </div>

            <p class="p-0 mt-4">
              This event is gender neutral, noting that a competitor qualifies
              for their dance level based on either Leader or Follower points,
              whichever is highest. This defines their primary role as a leader
              or follower throughout the event.
            </p>
            <p>
              Competitors are allowed to also compete in their non-dominant role
              up to two levels down in competitions, unless they are required to
              move up based on the WSDC points for their secondary role.
              Competitors with points qualifying both their primary and
              secondary roles to the same skill level are required to choose
              only one to compete with. E.g. Competitors cannot compete in
              Intermediate Jack and Jill as both a leader and follower.
            </p>
            <p>
              Petitions to compete at a lower competition level must be made to
              the Event Director in writing no later than 3 days before the
              event. Petitions to compete at higher levels are managed by the
              World Swing Dance Council (WSDC) and approved requests must be
              provided to the event no later than registration check in at the
              event.
            </p>

            <div style="display: flex; justify-content: center">
              <hr class="centered-hr" />
            </div>

            <h3 class="p-0 mt-4">General Competition Information</h3>
            <p>
              <b>For the Jack & Jill Division: </b>The Newcomer and Novice
              finals will be an All Skate, Intermediate final will be clustered
              spotlights, and the the Advanced final will be Spotlights.
              Trophies will be awarded to the first 3 placings of each category.
              To enter a competition please pre-register when you purchase your
              event pass. In the event you require changes to your competition
              entry please contact the Swingvasion team. Please refer to
              competition registration deadlines to ensure you are signed up for
              all the contests you are interested in participating in.
            </p>
            <p>
              Competition Entry fees: Please note that the competition entry
              fees are already included in the Full Event Passes price. If you
              do not hold an event pass you will not be eligible to partake in
              the competitions.
            </p>
            <p>
              <b>Swingvasion Lift Rule: </b>A lift is defined as any instance in
              which a dancer’s feet are both off the floor while their weight is
              supported by their partner. Lifts are not permitted in the Jack
              and Jill division and will result in disqualification. Enforcement
              of this rule is at the discretion of the Chief Judge, who will
              assess each case individually. Leniency may be granted in
              situations involving very minor and clearly unintentional lifts.
            </p>

            <div style="display: flex; justify-content: center">
              <hr class="centered-hr" />
            </div>

            <h3 class="p-0 mt-4">Jack & Jill Competition</h3>
            <p>
              Jack & Jill competitions are designed to highlight skills in
              spontaneous WCS dancing and the ability to dance well with a
              variety of partners.
            </p>
            <p>
              Competitors enter as individuals, are randomly assigned partners,
              and dance to music pre-selected by the DJ. Dancers will be judged
              individually in the heats & as a couple in the final.
            </p>

            <h3 class="p-0 mt-4">Lucky Steals Competition</h3>
            <p>
              What is Steals? It’s West Coast Swing… but with surprise partner
              takeovers, role switches, and anything goes joyful mischief.
              <a
                target="_blank"
                href="https://youtu.be/oNGgN9Kx7Ac?si=n08qm0-KbFXJqkAu&t=16"
                >Check out this video for an example of a Steals dance</a
              >.
            </p>
            <p>
              For Lucky Steals, three partners will be paired randomly and will
              be posted before the competition on Friday night. You will compete
              with the same partners for the whole competition. The aim of this
              competition is to have fun showing off your lead and follow skills
              with a random partners. Entries for this event are capped and may
              close before previously announced competition.
            </p>
            <p>
              All competitors will compete in the same competition regardless of
              WSDC eligible level.
            </p>

            <div style="display: flex; justify-content: center">
              <hr class="centered-hr" />
            </div>

            <h3 class="p-0 my-4">Competition Divisions</h3>
            <h4>WSDC Newcomer Jack & Jill Division</h4>
            <p>
              This is a special division for people who are new to WCS Jack &
              Jills - who may choose to either enter WSDC Newcomer or WSDC
              Novice. Dancers may only compete in Newcomer J&J if they have not
              earned any WSDC Newcomer/Novice points in the role they are
              registered to compete in.
            </p>

            <h4 class="mt-4">WSDC Novice Jack & Jill Division</h4>
            <p>
              A person should compete in Novice if they have earned fewer than
              16 Novice points and do not otherwise qualify for the Intermediate
              category. They may compete in Novice if they have earned 30 or
              fewer Novice points.
            </p>

            <h4 class="mt-4">WSDC Intermediate Jack & Jill Division</h4>
            <p>
              A person should compete in Intermediate if they have already
              competed at the Intermediate level and hold Intermediate points
              (and don't qualify for a higher category) or when they have earned
              30 or more Novice points. They may compete in Intermediate if they
              have earned 16 or more Novice points.
            </p>

            <h4 class="mt-4">WSDC Advanced Jack & Jill Division</h4>
            <p>
              A person should compete in Advanced if they have already competed
              at the Advanced level and hold Advanced points (and don't qualify
              for a higher category) or when they have earned 45 or more
              Intermediate points. They may compete in Intermediate if they have
              earned 30 or more Intermediate points.
            </p>
            <!-- <p>
              Competitors eligible to compete at All Star are able to compete in
              the Advanced Jack & Jill Division at the discretion of the Event
              Director. Only Advanced level points are awarded even in the case
              when higher level competitors are competing.
            </p> -->

            <div style="display: flex; justify-content: center">
              <hr class="centered-hr" />
            </div>

            <h3 class="p-0 mt-4">Competitor responsibilities</h3>
            <ol style="font-size: 18px">
              <li>
                <b>Plan Ahead.</b> Please check the event schedule before the
                weekend and allow plenty of time to arrive, register, and get
                ready to compete. Bring any attire you need for your divisions,
                and be aware that event schedules may change. It is each
                competitor's responsibility to check for any updates during the
                weekend, and be on time for all meetings & competitions.
              </li>
              <li>
                <b>Know the Rules.</b> All competitors should read the
                competition rules carefully, and are responsible for adhering to
                these rules whether they have read them or not. Swingvasion
                competitions are run in accordance with the WSDC rules.
                Questions about the rules should be addressed in advance to the
                Event Director and/or the Chief Judge.
              </li>
              <li>
                <b>Be Ready to Compete.</b> Competitors should be present in the
                venue at least 15 minutes prior to the start of their
                competition. Competitors are responsible for their bib numbers –
                please keep them safe for the duration of the event and return
                them at the end.
              </li>
              <li>
                <b>Good Sportsmanship.</b>
                Competitors are expected to demonstrate respectful and
                professional behaviour both on and off the competition floor.
                Behaviour that is considered inappropriate or inconsistent with
                the event's Code of Conduct may result in an attendee being
                asked to leave the event.
              </li>
              <li>
                <b>Discussing Competition Results.</b> Please be respectful when
                discussing competition results with other competitors, and avoid
                making negative comments about other competitors or their
                performances. If you are wondering why a judge placed you in a
                certain position, a private lesson is a great place to discuss
                this with them!
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
