<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1>Swingvasion Competition Rules</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              This event is gender neutral, noting that a competitor qualifies
              for their dance level based on either Leader or Follower points,
              whichever is highest. This defines their primary role as a leader
              or follower throughout the event.
            </p>
            <p>
              Competitors are allowed to also compete in their non-dominant role
              up to two levels down in competitions, unless they are required to
              move up based on the WSDC points for their secondary role.
              Competitors with points qualifying both their primary and
              secondary roles to the same skill level are required to choose
              only one to compete with. Eg Competitors cannot compete in
              Intermediate Jack and Jill as both a leader and follower. To
              maintain the intent of newcomers (if it is being offered),
              competitors at intermediate skill level for their primary role can
              not compete in newcomer division in their secondary role.
            </p>
            <p>
              Competitors may compete in different skill levels for different
              competitions if the competitor is eligible for both skill levels.
              Eg. If a competitor is eligible to compete in Novice or
              Intermediate for their primary role, they may dance Intermediate
              Jack and Jill and Novice Strictly. Competitors can not compete in
              the same competition, at different skill levels, in the same role.
              Eg can not compete as a lead in both Novice Strictly and Open
              Strictly Swing.
            </p>
            <p>
              Petitions to compete at a lower competition level must be made to
              the Event Director in writing no later than 3 days before the
              event. Petitions to compete at higher levels are managed by the
              World Swing Dance Council (WSDC) and approved requests must be
              provided to the event no later than registration check in at the
              event.
            </p>

            <h3 class="p-0 mt-4">Strictly Swing Competition</h3>
            <p>
              Strictly competitions are designed to highlight skills in
              spontaneous WCS dancing and the ability to dance well with a
              chosen partner. Dancers enter the competition as a couple and
              dance to music pre-selected by the DJ.
            </p>

            <h3 class="p-0 mt-4">Jack & Jill Competition</h3>
            <p>
              Jack & Jill competitions are designed to highlight skills in
              spontaneous WCS dancing and the ability to dance well with a
              variety of partners.
            </p>
            <p>
              Competitors enter as individuals, are randomly assigned partners,
              and dance to music pre-selected by the DJ. Dancers will be judged
              individually in the heats & as a couple in the final.
            </p>

            <h3 class="p-0 mt-4">Lucky Switched Competition</h3>
            <p>
              Lucky Switched is designed as a fun competition where the lead and
              follow role is switched back and forth between partners, multiple
              times throughout a song.
            </p>
            <p>
              Competitors enter as individuals, are randomly assigned partners,
              and dance to music pre-selected by the DJ. Competitors will
              compete with the same partner for heats and finals. The structure
              of the competition will be announced at the event.
            </p>
            <p></p>

            <h3 class="p-0 mt-4">Competition Divisions</h3>
            <h4>Novice Strictly Swing Division</h4>
            <p>
              A couple should compete in Novice Strictly when both dancers are
              eligible for the Novice Jack & Jill division.
            </p>
            <h4>Open Strictly Swing Division</h4>
            <p>
              A couple should compete in Open Strictly when at least one of the
              dancers in the partnership is eligible for the Intermediate
              division or above.
            </p>
            <p>
              Advanced/Allstar dancers should dance with a dancer in
              Novice/Intermediate.
            </p>
            <h4>WSDC Novice Jack & Jill Division</h4>
            <p>
              A person should compete in Novice if they have earned fewer than
              16 Novice points and do not otherwise qualify for the Intermediate
              category. They may compete in Novice if they have earned 30 or
              fewer Novice points.
            </p>
            <h4>WSDC Intermediate Jack & Jill Division</h4>
            <p>
              A person should compete in Intermediate if they have already
              competed at the Intermediate level and hold Intermediate points
              (and don't qualify for a higher category) or when they have earned
              30 or more Novice points. They may compete in Intermediate if they
              have earned 16 or more Novice points.
            </p>
            <h4>WSDC Advanced Jack & Jill Division</h4>
            <p>
              A person should compete in Advanced if they have already competed
              at the Advanced level and hold Advanced points (and don't qualify
              for a higher category) or when they have earned 45 or more
              Intermediate points. They may compete in Intermediate if they have
              earned 30 or more Intermediate points.
            </p>
            <p>
              Competitors eligible to compete at All Star or Champion level are
              able to compete in the Advanced Jack & Jill Division at the
              discretion of the Event Director. Only Advanced level points are
              awarded even in the case when higher level competitors are
              competing.
            </p>

            <h3 class="p-0 mt-4">General Competition Information</h3>
            <p>
              <b>For the Jack & Jill Division: </b>The Novice final will be an
              All Skate, Intermediate final will be clustered spotlights, and
              the the Advanced final will be Spotlights.For the Strictly Swing
              division: The Novice final will be an All Skate, and the Open
              final will be Clustered Spotlights.
            </p>
            <p>
              Trophies will be awarded to the first 3 placings of each category.
              To enter a competition please pre-register when you purchase your
              event pass. In the event you require changes to your competition
              entry please contact the Swing Central team. Please refer to
              competition registration deadlines to ensure you are signed up for
              all the contests you are interested in participating in.
            </p>
            <p>
              Competition Entry fees: Please note that the competition entry
              fees are already included in the Full Event Passes price. If you
              do not hold an event pass you will not be eligible to partake in
              the competitions.
            </p>

            <h3 class="p-0 mt-4">Competitor responsibilities</h3>
            <ol style="font-size: 18px">
              <li>
                Planning Ahead. Competitors should check the weekend schedule in
                advance in order to arrive in time to meet registration
                deadlines. They should bring appropriate competition attire.
                They should also plan so as to be on time for all meetings &
                competitions. Competitors are responsible for checking at the
                event for any changes to previously announced schedules, which
                are always subject to change.
              </li>
              <li>
                Knowing the Rules. All competitors should read these rules
                carefully prior to attending the contestant meeting for their
                competition. Competitors are responsible for adhering to these
                rules whether they have read them or not. Questions about the
                rules should be asked at the contestant meeting or addressed in
                advance to the Contest Coordinator and/or the Chief Judge.
                Swingvasion is run in accordance with the WSDC Rules.
              </li>
              <li>
                Be Prepared to Compete. Competitors should be present in the
                venue at least 15 minutes prior to the start of their
                competition. Competitors are responsible for their bib numbers –
                please keep them safe for the duration of the event.
              </li>
              <li>
                Demonstrating Good Sporting Conduct. Competitors must
                demonstrate good sporting conduct at all times, both on & off
                the competition floor. Competitors must also refrain from any
                behaviour that the judges deem inappropriate. Failure to adhere
                to this code of behaviour may result in disqualification.
              </li>
              <li>
                Discussing the Competitions Only Where Appropriate. Competitors
                may only discuss the competitions with the contest officials or
                judges using appropriate channels. Please do not approach judges
                seeking advice on their decisions.
              </li>
              <li>
                Waiver. By entering any of the competitions above you expressly
                grant the director(s) of Swing Central and it's assignees,
                licensees, vendors, and legal representatives the unlimited
                right and authority to use your name and any photograph or video
                recording of your participation at Swingvasion in any and all
                media, in whatever manner, for any lawful purpose, without any
                obligation to you. You further agree for myself, your heirs,
                executors, and administrators, to waive and release any and all
                right for damage you might have against the Director(s) of Swing
                Central for any injuries and damages you may suffer by
                participating in this event and your traveling to and from the
                event.
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
