<%- include("partials/header") -%>

<section class="lightSection">
  <div class="container-fluid">
    <h1>Contact Us</h1>

    <div class="swingvasion-box" style="text-align: center">
      <div class="swingvasion-details">
        <h5>
          Please get in touch with us on
          <a
            target="_blank"
            href="https://www.facebook.com/swingvasion"
            class="font-weight-bold"
            >Facebook</a
          >
          if you have any questions.
        </h5>
        <h5>
          We are also available via email at
          <a href="mailto:swingvasion@swingcentral.nz" class="font-weight-bold"
            >swingvasion@swingcentral.nz</a
          >
        </h5>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
