<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1>Etiquette & Code of Conduct</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <ul style="font-size: 18px">
              <li>
                Any questions the front desk will be able to help. Head that
                way.
              </li>
              <li>
                This is an alcohol free event. There is strictly no glass
                permitted in the venue. However, juice and any other beverage
                contained in a sealable bottle is no problem. Please, if you
                have a spillage, seek help to clean it up yourself to save the
                person next to you standing in it!
              </li>
              <li>
                Sickness can crop up at any time and we please ask that you stay
                home if you are unwell.
              </li>
              <li>
                Belongings and bags need to be kept out of the way. Please put
                them under a table or against the wall.
              </li>
              <li>
                Everyone is here to learn, but we all learn in our own way and
                at our own pace. Please refrain from giving unsolicited advice
                or feedback, both in class and on the social floor. The
                exception to this is if you are feeling unsafe or have been
                hurt.
              </li>
              <li>
                We are spoiled for having so many people from around NZ and
                further abroad. Try to ask as many people to dance as you can.
              </li>
              <li>
                Please be mindful of your partner's physical comfort level and
                respect their boundaries. Injuries, dance skill level or height
                difference are just a few factors which may influence someone’s
                comfort level.
              </li>
              <li>
                We invite you to choose to dance in either role, lead or follow.
                We recommend for new dancers stick to one role for a few months
                to consolidate foundations while you are learning.
              </li>
              <li>
                We have a strong belief in consent culture. Please ask for a
                dance and don’t take it personally if the answer is “no thank
                you”. If declining a dance, we always want to do so
                respectfully, but a “no thank you” is acceptable without any
                explanation.
              </li>
              <li>
                We want everyone to feel safe and have a good time. We have a
                zero tolerance policy, and you may be asked to leave for
                inappropriate behaviours including; inappropriate/ sexual
                comments or jokes, unnecessary unconsented physical contact,
                pursuing someone who has said no or discrimination of any kind.
                If you feel uncomfortable or unsafe,or witness inappropriate
                behaviour, at any time for any reason, please speak to a crew
                member. If you are unsure who to approach, our designated
                contacts are Emily Anderson or Tim Goddard. If you report a
                problem, this will be handled discreetly and in confidence with
                the appropriate Swingvasion staff. In the event of any actions
                that are deemed to compromise a person’s safety or the etiquette
                of the event, Swingvasion staff will intervene. Depending on the
                severity of the situation, the offender may be asked to leave
                the event immediately and without refund.
              </li>
              <li>Most importantly – let’s have fun!!</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
