<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="title">Event Location</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              Swingvasion takes place at Te Whaea - National Dance and Drama
              Centre, 11 Hutchison Road, Newtown, Wellington.
            </p>
            <iframe
              class="responsive-map"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5994.103156679149!2d174.77166137481746!3d-41.3077415416866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38afe2228652cf%3A0x742537572858df3b!2sTe%20Whaea%20-%20National%20Dance%20%26%20Drama%20Centre!5e0!3m2!1sen!2snz!4v1759294857168!5m2!1sen!2snz"
              style="border: 0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">Getting to the Venue</h3>
            <p>
              Te Whaea is super easy to get to from most parts of the city
              including the airport. Driving is also a great option as we have
              access to the Te Whaea car park which has ample parking.
              Rideshares (e.g. Uber) are around $30 or less from most city
              locations.
            </p>

            <h4>From the Airport</h4>
            <p>
              Te Whaea is a 15min drive from Wellington International Airport
              (allow extra time during peak traffic). Public buses are
              available, but usually require at least one transfer—Google Maps
              is the best way to plan this.
            </p>

            <h4>From the CBD</h4>
            <p>
              Te Whaea is only a 25min walk from the CBD. You can also catch the
              number 3, 18 or 27 buses that stop very close to the venue.
            </p>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">Accommodation</h3>
            <p>
              Our venue does not have attached accommodation. We recommend
              staying in the Newtown area, which has a variety of accommodation
              options including hotels, motels and AirBnBs which are within
              walking distance of the venue. There is a wider variety of
              accommodation available in the CBD which is a short drive, bus
              ride or a longer walk from the venue.
            </p>
            <p>
              Popular accommodation platforms to check include Booking.com,
              Airbnb, and Expedia.
            </p>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">Food & Drink</h3>
            <p>
              There are lots of food options near the venue including a
              Woolworths supermarket 5 mins walk away. There are a variety of
              cafes and restaurants located within a 15 minute walk.
            </p>

            <p>
              Can’t find what you want nearby? UberEats and DeliverEasy are two
              food delivery options to consider.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
