<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="swingvasion-title">Event Passes and Intensive Prices</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <p>All passes include:</p>

            <ul style="font-size: 18px">
              <li>All workshops of your level</li>
              <li>Friday and Saturday night parties and Sunday tea dance</li>
              <li>Friday and Saturday shows</li>
              <li>Competition entry fees</li>
            </ul>

            <em>All prices are quoted in New Zealand dollars.</em>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">LOCAL FULL PASS</h3>

            <ul style="font-size: 18px">
              <li>
                Early bird price: $260 (Early bird pricing ends 5 December 2025)
              </li>
              <li>Full ticket price: $285</li>
            </ul>

            <em
              >Early bird pricing is only applicable if full payment is received
              before the listed end date.</em
            >
          </div>

          <div class="m-4">
            <h3 class="p-0 mt-4">FIRST TIMER PASS</h3>
            <p>
              For those who have been dancing WCS less than 12 months and this
              is their first WSDC event.
            </p>

            <ul style="font-size: 18px">
              <li>Newcomer pass price: $225</li>
            </ul>
          </div>

          <div class="m-4">
            <h3 class="p-0 mt-4">INTERNATIONAL PASS</h3>
            <p>
              Only valid for those established and residing outside of New
              Zealand.
            </p>

            <ul style="font-size: 18px">
              <li>International pass price: $225</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">BRAD’S COMPETITENSIVE</h3>
            <p>
              “A dance contest is not about being the best dancer…it’s about
              being the best competitor.” Brad Whelan—22 All-Star wins, 320
              points…most in the history of West Coast Swing. (and by all
              accounts only a relatively decent dancer, so he must know
              something).
            </p>
            <p>
              This is a 3-hour deep-dive into competition for all levels,
              focusing not just on the technical, but the mental aspects of
              success in competition. This is for anyone, from first-time
              competitors who want to start strong, to seasoned veterans who
              want every edge they can get.
            </p>

            <ul style="font-size: 18px">
              <li>Intentive price: $60</li>
            </ul>

            <em
              >NOTE: Brad’s Competitensive is an additional cost and not
              included in any of the weekend passes.</em
            >
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h2>CANCELLATION POLICY</h2>

            <ul style="font-size: 18px">
              <li>
                Change of mind - We acknowledge that sometimes life means things
                do change. Swingvasion will offer a full refund if you are no
                longer able to attend, no questions asked, provided we are
                notified a minimum of 4 weeks prior to the event commencement.
              </li>
              <li>
                Illness/injury - We understand illness and injury is often
                beyond control. Please help us to keep you and other
                participants safe and do not attend if you become unwell. Please
                contact us directly, where Swingvasion will use fair and
                reasonable discretion to offer appropriate refunds.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
