<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="title">Getting to Wellington</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              Located in the middle of New Zealand, it’s easy to get to
              Wellington from anywhere in the world.
            </p>

            <h3 class="p-0 mt-4">By Plane</h3>
            <p>
              Wellington International Airport has direct connectivity to the
              rest of New Zealand, Australia, and Fiji, across various airlines.
              Domestic air services are regular and fast. Flights to Auckland
              and Christchurch international airports depart hourly, and travel
              time is usually an hour. Queenstown is an hour and a half away,
              with multiple flights daily.
            </p>

            <h4>By Car</h4>
            <p>
              If you are driving, Wellington is connected to two of the
              country’s major state highways, SH1 and SH2. The drive time from
              Auckland is approximately nine and a half hours, and Napier is
              approximately four hours. If driving from the South Island, you’ll
              need to take the Cook Strait ferry.
            </p>

            <h4>By Ferry</h4>
            <p>
              The capital is a coastal gateway between the North and South
              Islands. There are regular ferry services across the Cook Strait
              to and from Picton. The three-and-a-half-hour journey takes you
              through the picturesque Marlborough Sounds. You can sail with
              either Interislander or Bluebridge.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
