<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <div class="title">
      <h1>Swingvasion V</h1>
      <h2>Friday 5 March to Sunday 7 March 2027</h2>
      <h3 class="pb-0">Te Whaea - National Dance and Drama Centre</h3>
      <h4>11 Hutchison Road, Newtown, Wellington 6021, New Zealand</h4>
    </div>

    <a
      href="https://danceconvention.net/eventdirector/en/eventpage/301432740"
      target="_blank"
      type="button"
      class="btn btn-primary btn-lg mt-4"
      >Register</a
    >

    <div class="mb-3">
      <div class="swingvasion-box">
        <!-- <img src="images/swingvasion-4.png" style="width: 100%;" /> -->

        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              Swingvasion is back to take over the Capital City in March 2027.
              With more workshops, WSDC points up for grabs, and awe-inspiring
              pros, it'll be a terrific time. We can't wait to see you there!
            </p>
          </div>

          <div class="m-4">
            <h4>Event Details</h4>
            <ul>
              <li>
                Kicking off Friday afternoon, dancing through to late Sunday
                afternoon
              </li>
              <li>Friday afternoon Intensive from 3pm</li>
              <li>WSDC Jack &amp; Jill competitions</li>
              <li>Pro shows</li>
              <li>Lots of social dancing</li>
              <li>Workshops across Friday - Sunday</li>
              <li>Private Lessons</li>
              <li>More to come!!</li>
            </ul>
          </div>

          <div class="mx-auto">
            <div class="m-4">
              <h4>Introducing our International Pro Staff</h4>
              <ul>
                <li>Mia Primavera + Keerigan Rudd from USA</li>
                <li>Jean-Nicolas Winter from Tahiti</li>
                <li>Zac and Maddy Skinner from Australia</li>
                <li>Brad Whelan from Australia</li>
                <li>JP Masson and Emma Collyer from Australia</li>
                <li>Abi Vogels from New Zealand</li>
              </ul>
            </div>
          </div>

          <div class="m-4">
            <p>
              Follow the Swingvasion event on
              <a
                href="https://www.facebook.com/events/4234027173481485"
                target="_blank"
                >Facebook</a
              >
              and
              <a href="https://www.instagram.com/swingvasion" target="_blank"
                >Instagram</a
              >
              for more announcements!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
