<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <div class="m-4">
      <h1>Swingvasion IV</h1>
      <h2>Friday 6 March to Sunday 8 March 2026</h2>
      <h3 class="pb-0">Te Whaea - National Dance and Drama Centre</h3>
      <h4>11 Hutchison Road, Newtown, Wellington 6021, New Zealand</h4>
    </div>

    <!-- <a href="https://danceconvention.net/eventdirector/en/eventpage/300011200-swingvasion-iii-2025" target="_blank" type="button" class="btn btn-primary btn-lg mt-4">Register</a> -->

    <div class="mb-3">
      <div class="swingvasion-box">
        <!-- <img src="images/swingvasion-4.png" style="width: 100%;" /> -->

        <div class="swingvasion-details pt-2" >
        <div class="m-4">
          <p>Swingvasion is back to take over the Capital City in March 2026. With more workshops, WSDC points up for grabs, and awe-inspiring pros, it'll be a terrific time. We can't wait to see you there!</p>
        </div>

        <div class="m-4">
          <h4>Event Details</h4>
          <ul>
            <li>Kicking off Friday afternoon, dancing through to late Sunday afternoon</li>
            <li>WSDC Jack &amp; Jill competitions</li>
            <li>Friday afternoon intensive</li>
            <li>Pro shows</li>
            <li>Lots of social dancing</li>
            <li>Workshops across Friday - Sunday</li>
            <li>Private Lessons</li>
            <li>More to come!!</li>
          </ul>
        </div>

        <div class="m-4">
          <p>Follow the Swingvasion event on <a href="https://www.facebook.com/events/1252303453282836" target="_blank">Facebook</a> for more announcements!</p>
        </div>
      </div>
    </div>
  </div>
</section>





<%- include("partials/footer") -%>
