<%- include("partials/header") -%>

<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>New Zealand</h1>
  </div>
</section>

<%- include("partials/footer") -%>
