<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="title">Photo & Video Policy</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              By registering for this event you expressly grant the director(s)
              of Swingvasion Ltd and it’s assignees, licensees, vendors, and
              legal representatives the unlimited right and authority to use
              your name and any photograph or video recording of your
              participation at Swingvasion in any and all media, in whatever
              manner, for any lawful purpose, without any obligation to you.
            </p>
            <p>
              <b
                >For attendees taking personal or non-official photos and
                videos:</b
              >
              We know that taking photos and videos of yourself and friends is a
              normal part of a dance weekend. However, if you plan to share this
              content online, please ensure you have permission from anyone who
              is prominently featured, especially if the content is being used
              for promotional purposes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
