<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="title">Places to Explore</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              Wellington is right in the middle of New Zealand which opens up
              lots of opportunities to see our beautiful country. We highly
              recommend extending your stay to experience everything New Zealand
              has to offer.
            </p>

            <p>
              For travel inspiration across the country, check out:
              <a target="_blank" href="https://www.newzealand.com/nz/">
                https://www.newzealand.com/nz/</a
              >
            </p>
            <p>
              For travel ideas in and around Wellington, check out:
              <a target="_blank" href="https://www.wellingtonnz.com/">
                https://www.wellingtonnz.com/
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">Wellington Highlights</h3>
            <p>
              If you want to explore the Wellington region, our community has
              brainstormed some ideas for things to do while you are here:
            </p>

            <ul>
              <li>
                <a target="_blank" href="https://www.visitzealandia.com/">
                  Zealandia</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.wetaworkshop.com/tours/wellington"
                >
                  Wētā Workshops</a
                >
              </li>
              <li>
                <a target="_blank" href="https://www.tepapa.govt.nz/">
                  Te Papa</a
                >
              </li>
              <li>
                Take the
                <a target="_blank" href="https://www.wellingtoncablecar.co.nz/">
                  Cable Car</a
                >
                to the
                <a
                  target="_blank"
                  href="https://wellingtongardens.nz/our-gardens/wellington-botanic-garden-ki-paekaka/"
                >
                  Wellington Botanic Gardens</a
                >
              </li>
              <li>
                Take a walk up one of Wellington's hills to check out the view.
                <a
                  target="_blank"
                  href="https://wellington.govt.nz/recreation/outdoors/walks-and-walkways/across-the-city/mount-victoria-loop"
                >
                  Mount Victoria</a
                >
                and
                <a
                  target="_blank"
                  href="https://www.wellingtonnz.com/visit/trails/mount-kaukau-summit-khandallah-park-loop"
                >
                  Mount Kaukau</a
                >
                (for the more adventurous) are popular options.
              </li>

              <li>
                Wellington is known for its coffee culture - don’t miss the
                chance to try a few of the city’s standout cafés
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.doc.govt.nz/parks-and-recreation/places-to-go/wellington-kapiti/places/matiu-somes-island/"
                >
                  Matiu/Somes Island</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://wellington.govt.nz/recreation/outdoors/walks-and-walkways/beyond-the-city/red-rocks-coastal-walk"
                >
                  Red Rocks Coastal Walks</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">Day Trips & Nature</h3>
            <p>
              If you have a car, there are some stunning places just outside
              Wellington worth exploring:
            </p>

            <ul>
              <li>
                <a
                  target="_blank"
                  href="https://www.wellingtonnz.com/visit/trails/escarpment-track"
                >
                  Paekākāriki Escarpment</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.martinborough-village.co.nz/wine-olives/"
                >
                  Martinborough Wineries</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.gw.govt.nz/parks/belmont-regional-park/"
                >
                  Belmont Regional Park</a
                >
                (We recommend starting at the Oakleigh st entrance)
              </li>
              <li>
                <a
                  target="_blank"
                  href="https://www.doc.govt.nz/parks-and-recreation/places-to-go/wairarapa/places/putangirua-pinnacles-scenic-reserve/"
                >
                  Putangirua Pinnacles
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
