<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1>Swingvasion Schedule</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">Levelled Workshops</h3>
            <p>
              This year we are running levelled workshops - please see the level
              descriptions below to help you determine which level is most
              appropriate for you.
            </p>

            <h4>Open</h4>
            <p>
              These workshops are targeted at all dancers. Everyone will be able
              to take something away from these workshops.
            </p>

            <h4>Level 2 - Intermediate</h4>
            <p>
              To join this level, you must qualify for the WSDC Intermediate
              division. You can also audition for this level if you do not have
              the required WSDC points.
            </p>

            <h4>Level 3 - Advanced</h4>
            <p>
              To attend this workshop, you must qualify for the WSDC Advanced
              divison. You can also audition for this level if you do not have
              the required WSDC points.
            </p>

            <h3 class="p-0 mt-4">Auditions</h3>
            <p>
              This year, we will be running auditions for those who would like
              to attend workshops of higher levels, but do not have the required
              WSDC points to qualify. Auditions will be held at 10:30am on
              Saturday. You will get a few songs and you will rotate partners to
              get a chance to show your skills. Only a limited number of people
              will be moved up, and this will be decided by our teaching staff.
            </p>
          </div>
        </div>
      </div>

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">Friday</h3>
            <p>7:00pm: Newcomers Welcome Workshop (Drama 2)</p>
            <p>7:30pm: Doors Open</p>
            <p>8:00pm: Open Workshop - Zac & Maddy (Main Room)</p>
            <p>10:00pm: Lucky Switched</p>
            <p>11:30pm: Pro Show</p>
            <p>2:00am: Close</p>

            <h3 class="p-0 mt-4">Saturday</h3>
            <p>10:30am: Auditions (Drama 2)</p>
            <p>11:00am:</p>
            <ul>
              <li>Open Workshop - JP & Emma (Main Room)</li>
              <li>L2/Intermediate Workshop - Tze & Mia (Drama 2)</li>
            </ul>
            <p>12:00pm: Lunch Break</p>
            <p>12:30pm:</p>
            <ul>
              <li>Open Workshop - Mackenzie & Raushaniya (Main Room)</li>
              <li>L2/Intermediate Workshop - Zac & Maddy (Drama 2)</li>
            </ul>
            <p>1:30pm:</p>
            <ul>
              <li>Open Workshop - Tze (Main Room)</li>
              <li>L2/Intermediate Workshop - Mia (Drama 2)</li>
            </ul>
            <p>3:00pm: Competition Prelims</p>
            <p>5:30pm: Dinner Break</p>
            <p>7:15pm: Doors Open</p>
            <p>7:30pm:</p>
            <ul>
              <li>Competition Finals</li>
              <li>Invitational</li>
              <li>Awards</li>
            </ul>
            <p>3:00am: Close</p>

            <h3 class="p-0 mt-4">Sunday</h3>
            <p>10:30am: Doors Open</p>
            <p>11:00am:</p>
            <ul>
              <li>Open Workshop - Mia (Main Room)</li>
              <li>
                L2/Intermediate Workshop - Mackenzie & Raushaniya (Drama 2)
              </li>
            </ul>
            <p>12:00pm: Lunch Break</p>
            <p>12:30pm:</p>
            <ul>
              <li>Open Workshop - Zac & Maddy (Main Room)</li>
              <li>L2/Intermediate Workshop - JP & Emma (Drama 2)</li>
              <li>L3/Advanced Workshop - Tze (Drama 3)</li>
            </ul>
            <p>1:30pm: Open Workshop - Mia & Tze (Main Room)</p>
            <p>2:30pm: Social Dancing</p>
            <p>4:30pm: Pack Down</p>
            <p>Later: After Party!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
