<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="title">Southern Lights Swing</h1>
    <h2>26 February to 2 March 2026</h2>

    <div class="mb-3">
      <div class="swingvasion-box">
        <img src="images/sls-banner.jpg" style="width: 100%" />

        <div class="swingvasion-details">
          <div class="m-4">
            <p>
              This year Southern Lights Swing is being held the weekend before
              Swingvasion in Hobart, Australia. So why not do both events!
            </p>

            <p>
              There are flights between Hobart and Wellington via other centres
              in both Australia and New Zealand on multiple airlines. So come
              and enjoy both amazing events, make new friends across the Tasman,
              and double your dancing adventure!
            </p>

            <p>
              Check out their website:
              <a
                target="_blank"
                href="https://www.southernlightsswing.com.au/ "
              >
                https://www.southernlightsswing.com.au/
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
