<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="swingvasion-title">Swingvasion Staff</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">TEACHING & JUDGING STAFF</h3>
            <div class="staff-grid">
              <div class="staff-cell staff-cell-1 vertical">
                <img src="/images/tze.jpg" alt="Wee Tze Yi" class="staff-img" />
                <div class="staff-name">Wee Tze Yi</div>
              </div>
              <div class="staff-cell staff-cell-2 horizontal">
                <img
                  src="/images/miakeerigan.jpg"
                  alt="Mia and Keerigan"
                  class="staff-img"
                />
                <div class="staff-name">Mia Primavera & Keerigan Rudd</div>
              </div>
              <div class="staff-cell staff-cell-3 vertical">
                <img
                  src="/images/brad.jpeg"
                  alt="Brad Whelan"
                  class="staff-img"
                />
                <div class="staff-name">Brad Whelan</div>
              </div>
              <div class="staff-cell staff-cell-4 horizontal">
                <img
                  src="/images/mackenzieraushaniya.jpg"
                  alt="Mackenzie and Raushaniya"
                  class="staff-img"
                />
                <div class="staff-name">
                  Mackenzie Sharp & Raushaniya Maksudova
                </div>
              </div>
              <div class="staff-cell staff-cell-5 horizontal">
                <img
                  src="/images/zaddy.jpg"
                  alt="Zac and Maddy"
                  class="staff-img"
                />
                <div class="staff-name">Zac Skinner & Maddy Skinner</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">JUDGING STAFF</h3>
            <p>TBC</p>
          </div>
        </div>
      </div> -->

      <div class="swingvasion-box">
        <div class="swingvasion-details">
          <div class="m-4">
            <h3 class="p-0 mt-4">OUR TEAM</h3>
            <div class="staff-4col-grid">
              <div class="staff-card">
                <div class="staff-name">Guido von Mulert</div>
                <div class="staff-role">Event Director</div>
              </div>
              <div class="staff-card">
                <div class="staff-name">Thomas Goodwin</div>
                <div class="staff-role">Event Committee</div>
              </div>
              <div class="staff-card">
                <div class="staff-name">Danielle McAdam</div>
                <div class="staff-role">Event Committee</div>
              </div>
              <div class="staff-card">
                <div class="staff-name">Lucy Stiles</div>
                <div class="staff-role">Event Committee</div>
              </div>
              <div class="staff-card">
                <div class="staff-name">Cherise von Mulert</div>
                <div class="staff-role">Event Committee</div>
              </div>
              <div class="staff-card">
                <div class="staff-name">Scott Clausen</div>
                <div class="staff-role">Head DJ</div>
              </div>
              <div class="staff-card">
                <div class="staff-name">Emily Anderson</div>
                <div class="staff-role">Social Media</div>
              </div>
              <div class="staff-card">
                <div class="staff-name">Sarah Areina</div>
                <div class="staff-role">Videography</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
