<%- include("partials/header") -%>

<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion Staff</h1>

    Teaching staff, Event staff, MC, Scoring Staff, DJ Staff, Judging Staff
  </div>
</section>

<%- include("partials/footer") -%>
