<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1>Swingvasion Staff</h1>

    Teaching staff, Event staff, MC, Scoring Staff, DJ Staff, Judging Staff
  </div>
</section>

<%- include("partials/footer") -%>
