<%- include("partials/header") -%>

<section class="lightSection">
  <div class="container-fluid">
    <h1>Terms & Conditions</h1>

    <div class="mb-3">
      <div class="swingvasion-box">
        <div class="swingvasion-details" >
          <div class="mx-auto" >
            <div class="m-4">
              <h4>Cancellation Policy</h4>
              <ul>
                <li>Change of mind - We acknowledge that sometimes life means things do change. Swingvasion will offer a full refund if you are no longer able to attend, no questions asked, provided we are notified a minimum of 4 weeks prior to the event commencement.</li>
                <li>Illness/ injury - We understand illness and injury is often beyond control. Please help us to keep you and other participants safe and do not attend if you become unwell. Please contact us directly, where Swingvasion will use fair and reasonable discretion to offer appropriate refunds.</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
    
  </div>
</section>

<%- include("partials/footer") -%>
