<%- include("partials/header") -%>

<section id="class-event-details" class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion Tickets</h1>

    Include info on passes: full, international, newcomers, allstar. Also
    include info on intensive.
  </div>
</section>

<%- include("partials/footer") -%>
