<%- include("partials/header") -%>

<section class="lightSection">
  <div>
    <h1 class="title">Swingvasion Venue</h1>

    Venue, how to get there
  </div>
</section>

<%- include("partials/footer") -%>
