<%- include("partials/header") -%>

<section class="lightSection">
  <div class="container-fluid">
    <h1>Swingvasion Venue</h1>

    Venue, how to get there
  </div>
</section>

<%- include("partials/footer") -%>
